<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefnsfendpoint20210711182523.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d249657a-b14f-4825-9edb-1d46def4e26e/resourcegroups/AzureAppTestingResource/providers/Microsoft.Web/sites/AzureFnSfEndpoint20210711182523</ResourceId>
    <UserName>$AzureFnSfEndpoint20210711182523</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurefnsfendpoint20210711182523.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>